
div .logo{
	width: 75px; 
	height: 75px;
}

div .bottom_images {
	width: 100px:;
}



.bottom_images-container {
	margin-top: 30px;
	position: right;
}

.main-image {
	width: 100px
	height: 100px;
}


hr {
	border-width: 5px;
	color: #7d97ad;
}

div .main-image {
	float: right;
	width: 1100px;
	height: 400px;
}

div .bottom-images {
	/*float: left;*/
	padding-top: 10px;
	width: 350px;
	height: 200px;

}
.col-md-4 {
	float: center;
	padding-top: 50px;
  	padding-right: 30px;
  	padding-bottom: 50px;
  	padding-left: 80px
}

h2 .feature-title {
	padding-top: 20px;
}

